# Customer Churn Analysis

Here you can find the description of all the tasks. Same info and more can be found on this Project [Page](https://cms.master.school/final-project-jan23)

First review the project on this page and if you decide to work on this dataset follow the steps mentioned on above Project page

# The story Behind The Data
A bank is concerned that more and more customers are leaving its credit card services. They would really appreciate if someone could analyze it for them, in order to understand the main reasons for leaving the services, and to come up with recommendations for how the bank can mitigate that. Eventually, the bank would like to proactively implement these recommendations in order to keep their customers happy.

**A full ERD can be found [here](https://dbdiagram.io/d/638cdd8abae3ed7c45449eed)**

# Data Description
In this task, few datasets are provided:

1. **`BankChurners.csv`**   - this file contains basic information about each client (10 columns). The columns are:
    - `CLIENTNUM` - Client number. Unique identifier for the customer holding the account;
    - `Attrition Flag` - Internal event (customer activity) variable - if the client had churned (attrited) or not (existing).
    - `Dependent Count` - Demographic variable - Number of dependents
    - `Card_Category` - Product Variable - Type of Card (Blue, Silver, Gold, Platinum)
    - `Months_on_book` - Period of relationship with bank
    - `Months_Inactive_12_mon` - No. of months inactive in the last 12 months
    - `Contacts_Count_12_mon` - No. of Contacts in the last 12 months
    - `Credit_Limit` - Credit Limit on the Credit Card
    - `Avg_Open_To_Buy` - Open to Buy Credit Line (Average of last 12 months)
    - `Avg_Utilization_Ratio` - Average Card Utilization Ratio
2. **`basic_client_info.csv`** - this file contains some basic client info per each client (6 columns) -
    - `CLIENTNUM` - Client number. Unique identifier for the customer holding the account
    - `Customer Age` - Demographic variable - Customer's Age in Years
    - `Gender` - Demographic variable - M=Male, F=Female
    - `Education_Level` - Demographic variable - Educational Qualification of the account holder (example: high school, college graduate, etc.`
    - `Marital_Status` - Demographic variable - Married, Single, Divorced, Unknown
    - `Income_Category` - Demographic variable - Annual Income Category of the account holder (< $40K, $40K - 60K, $60K - $80K, $80K-$120K, > $120K, Unknown)
3. **`enriched_churn_data.csv`** - this file contains some enriched data about each client (7 columns) -
    - `CLIENTNUM` - Client number. Unique identifier for the customer holding the account
    - `Total_Relationship_Count` - Total no. of products held by the customer
    - `Total_Revolving_Bal` - Total Revolving Balance on the Credit Card
    - `Total_Amt_Chng_Q4_Q1` - Change in Transaction Amount (Q4 over Q1)
    - `Total_Trans_Amt` - Total Transaction Amount (Last 12 months)
    - `Total_Trans_Ct` - Total Transaction Count (Last 12 months)
    - `Total_Ct_Chng_Q4_Q1` - Change in Transaction Count (Q4 over Q1)

# SQL tasks

1. How many clients does the bank have and are above the age of 50?
2. What’s the distribution (in %) between male and female clients?
3. Let’s define a new variable called `age_group`:
    - 10 < x ≤ 30
    - 30 < x ≤ 40
    - 40 < x ≤ 50
    - 50 < x ≤ 60
    - 60 <x ≤ 120
    
    Per each `age_group`, `marital_status` and `income_category`, find out the following values:
    
    a. Churn_rate (in %)
    
    b. Average `Total_Relationship_Count`
    
    c. Minimum value of `Total_Amt_Chng_Q4_Q1`
    
    d. Count of customers
    
    Make sure to order the data by the number of customers in a descending order***
    
4. Out of the male clients, who holds the “blue” card, how many (in %) hold the income category 40K - 60K?

5. Without the usage of group by at all, find the 3rd and 4th highest client IDs (`CLIENTNUM`’s) of `Total_Amt_Chng_Q4_Q1`?

6. We’re interested in knowing which client (CLIENTNUM) has the 2nd highest `Total_Trans_Amt`, Per each `Marital_Status`. 

The bank will create a dedicated campaign and target these specific clients moving forward. In this step, help the bank find these clients.

In order to start writing and running SQL queries here in Workspace, you have a SQL type cell. New cell can be added by clicking on "Add SQL". Masterschool hosts a Postgres DB with all Capstone project datasets. To connect to MS server you need to choose relevant integration. Choose according to the dataset you explore.

In [1]:
-- Start writing your SQL query here 

SELECT * from bankchurners LIMIT 10

   clientnum     attrition_flag  ...  avg_open_to_buy avg_utilization_ratio
0  806160108  Existing Customer  ...            676.0                 0.788
1  804424383  Existing Customer  ...           9205.0                 0.099
2  708300483  Attrited Customer  ...           7277.0                 0.077
3  808284783  Existing Customer  ...           1438.3                 0.000
4  712720158  Existing Customer  ...          12208.0                 0.119
5  717296808  Existing Customer  ...            489.0                 0.837
6  809164083  Existing Customer  ...            840.0                 0.679
7  787348608  Existing Customer  ...           1757.0                 0.460
8  778286433  Existing Customer  ...           4579.0                 0.221
9  822969858  Existing Customer  ...           4120.0                 0.262

[10 rows x 10 columns]

## Tableau Tasks

This Tableau task lets you be creative with the way you build your dashboard and only gives guidance on the types of visualizations you should use.

Create a dashboard that will contain at least 5 out of the 8 requirements defined below:

1. **At least 2 KPIs** as Big Ass Numbers. Choose the metrics on your own that will fit with the rest of your analysis. Examples of metrics:
    - Total number of clients
    - Churn rate %
    - Average transaction amount per customer
    - Average transaction amount before churn
    - etc.
2. **Churn rate %** among different **age groups**. You will need to:
    - Use the Bins function to split client age into age ranges
    - Define Churn rate % as a calculated field
    - Choose the way of visualizing the comparison
3. **A Scatterplot** visualizing certain customer spending behaviors and their connection to the churn if exists. For example, you can compare Total transaction amount and Total transaction count of each client and use color to mark churned and existing customers. 
4. **A Highlight Table** comparing Churn rate % among two demographic dimensions (from *basic_client_info* table), where one is placed on Rows and another on Columns, forming a matrix. 
5. **A Bar Chart** with multiple metrics by Clientnum, where each row represents one Client and has multiple metrics as columns. Add a few filters or parameters to let user drill down into the set of clients they are interested in.
6. **A Pareto Analysis** based on custom defined **customer segment**. 
    - Segment can include values from the demographic information of the client. For example,
        - Gender | Income
        - Gender | Income | Marital status
        - etc.
    - Choose the metric to analyse. For example,
        - Total number of clients (People from which customer segments most often become our clients?)
        - Churn rate absolute (How many churned customers we have in each segment?)
        - Churn rate % (What is the relative churn rate in each customer segment?)
        - etc.
7. **At least 1 parameter** that allows dashboard user to interact with the dashboard. For example,
    - to change the metric used in the chart(s)
    - to change the value of a benchmark
8. At least one **more visualization of your choice** adds value to your analysis.

_Use this cell to add your Tableau links. We encourage you also to add here screenshots from your Tableau dashboard with explanations._

_For_ deep dive analysis and EDA follow the guidelines on project [page](https://cms.master.school/final-project-jan23)

In [1]:
# Let's see how we can easily query the data
# Start working here if you choose to use Python for this part of the project
# Libraries
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading + let's see the head of each file we have
bank_churners_df = pd.read_csv('bankchurners.csv')
basic_client_info_df = pd.read_csv('basic_client_info.csv')
enriched_churn_df = pd.read_csv('enriched_churn_data.csv')
bank_churners_df.head(3)

   clientnum     attrition_flag  ...  avg_open_to_buy avg_utilization_ratio
0  806160108  Existing Customer  ...            676.0                 0.788
1  804424383  Existing Customer  ...           9205.0                 0.099
2  708300483  Attrited Customer  ...           7277.0                 0.077

[3 rows x 10 columns]

In [3]:
basic_client_info_df.head(3)

   clientnum  customer_age  ... marital_status income_category
0  708082083            45  ...        Married  Less than $40K
1  708083283            58  ...         Single     $40K - $60K
2  708084558            46  ...       Divorced    $80K - $120K

[3 rows x 6 columns]

In [4]:
enriched_churn_df.head(3)

   clientnum  total_relationship_count  ...  total_ct_chng_q4_q1  total_trans_ct
0  828343083                         3  ...                0.659              68
1  828298908                         4  ...                0.741              47
2  828294933                         3  ...                0.565              36

[3 rows x 7 columns]

In [6]:
ALTER TABLE basic_client_info ADD age_group VARCHAR(20);

UPDATE basic_client_info
SET age_group = CASE
            WHEN customer_age <= 30 THEN '10_30'
            WHEN customer_age > 30 AND customer_age <= 40 THEN '31_40'
            WHEN customer_age > 40 AND customer_age <= 50 THEN '41_50'
            WHEN customer_age > 50 AND customer_age <= 60 THEN '51_60'
            WHEN customer_age > 60 THEN '61+'
            END;

Error: ALTER TABLE basic_client_info ADD age_group VARCHAR(20);

UPDATE basic_client_info
SET age_group = CASE
            WHEN customer_age <= 30 THEN '10_30'
            WHEN customer_age > 30 AND customer_age <= 40 THEN '31_40'
            WHEN customer_age > 40 AND customer_age <= 50 THEN '41_50'
            WHEN customer_age > 50 AND customer_age <= 60 THEN '51_60'
            WHEN customer_age > 60 THEN '61+'
            END;
 - column "age_group" of relation "basic_client_info" already exists

In [8]:
CREATE VIEW churn_join AS
SELECT b.clientnum AS clientnum
        ,b.attrition_flag AS attrition_flag
        ,c.customer_age AS age
        ,c.gender AS gender
        ,c.age_group AS age_group
        ,c.marital_status AS marital_status
        ,c.income_category AS income_category
        ,e.total_relationship_count AS total_rlt_ct
        ,e.total_amt_chng_q4_q1 AS total_amt_chg
FROM bankchurners AS b
JOIN basic_client_info AS c
ON b.clientnum = c.clientnum
JOIN enriched_churn_data AS e
ON c.clientnum = e.clientnum

In [15]:
SELECT * 
FROM churn_join
LIMIT 5;

   clientnum     attrition_flag  ...  total_rlt_ct total_amt_chg
0  708082083  Existing Customer  ...             4         0.831
1  708083283  Attrited Customer  ...             3         0.992
2  708084558  Attrited Customer  ...             6         0.000
3  708085458  Existing Customer  ...             6         0.827
4  708086958  Existing Customer  ...             3         0.598

[5 rows x 9 columns]

## 1. How many clients does the bank have and are above the age of 50?

3078

In [5]:
SELECT COUNT(clientnum) num_clients_over50
FROM churn_join
WHERE age > 50;

   num_clients_over50
0                3078

## 2. What’s the distribution (in %) between male and female clients?

Male: 47%
Female: 53%

In [6]:
WITH total_clients AS (
  SELECT COUNT(*) as total_clients
  FROM churn_join
)
SELECT 
  gender,
  ROUND((COUNT(clientnum) * 100.0 / (SELECT total_clients FROM total_clients))::NUMERIC, 2) AS percentage
FROM churn_join
GROUP BY 1

  gender  percentage
0      M       47.09
1      F       52.91

## 3. Per each `age_group`, `marital_status` and `income_category`, find out the following values:
 - a. Churn_rate (in %) ✅
 - b. Average Total_Relationship_Count ✅
 - c. Minimum value of Total_Amt_Chng_Q4_Q1 ✅
 - d. Count of customers ✅

In [47]:
SELECT c.age_group AS age_group
        ,c.marital_status AS marital_status
        ,c.income_category AS income_category
        ,ROUND((SUM(b.months_inactive_12_mon + 0.0001) / SUM(b.months_on_book)) * 100, 2) AS churn_rate_percent
        ,ROUND(AVG(c.total_rlt_ct ),2) AS avg_total_relationship_count
        ,MIN(c.total_amt_chg) AS min_total_amt_chng_q4_q1
        ,COUNT(*) AS num_clients
FROM churn_join AS c
JOIN bankchurners AS b
ON c.clientnum = b.clientnum
GROUP BY 1,2,3
ORDER BY 1,7
    DESC;

    age_group marital_status  ... min_total_amt_chng_q4_q1  num_clients
0       10_30         Single  ...                    0.299           69
1       10_30        Married  ...                    0.549           36
2       10_30         Single  ...                    0.331           29
3       10_30         Single  ...                    0.391           27
4       10_30       Divorced  ...                    0.632           16
..        ...            ...  ...                      ...          ...
111       61+       Divorced  ...                    0.808            2
112       61+        Unknown  ...                    0.628            2
113       61+        Unknown  ...                    0.722            2
114       61+        Married  ...                    0.424            2
115       61+         Single  ...                    0.564            2

[116 rows x 7 columns]

## 4. Out of the **male** clients who hold the **“blue”** card, how many (in %) hold the **income category 40K - 60K?**

7 percent

In [54]:
WITH total_clients AS (
  SELECT COUNT(*) as total_clients
  FROM churn_join
)
SELECT 
  c.gender AS gender
  ,ROUND((COUNT(c.clientnum) * 100.0 / (SELECT total_clients FROM total_clients))::NUMERIC, 2) AS percentage
FROM churn_join AS c
JOIN bankchurners AS b
ON c.clientnum = b.clientnum
WHERE 1 = 1
    AND b.card_category LIKE 'Blue%'
    AND c.income_category LIKE '$40K%'
GROUP BY 1;

  gender  percentage
0      M        7.06
1      F        9.48

## 5. Without using group by at all, find the 3rd and 4th highest client IDs (CLIENTNUM’s) of Total_Amt_Chng_Q4_Q1? Hint: Window to the rescue!

*Used LIMIT and OFFSET to return the 3rd and 4th highest client ids with of total_Amt_Chng_Q4_Q1*

CLIENT ID | TOTAL_AMT_CHG
> - 713989233 | 2.675
> - 713982108 | 2.594

In [60]:
SELECT clientnum AS client_id
    ,total_amt_chg AS highest_third_fourth
FROM churn_join
ORDER BY 2
    DESC
LIMIT 2 OFFSET 2;

   client_id  highest_third_fourth
0  713989233                 2.675
1  713982108                 2.594

## 6. We’re interested in knowing which client (CLIENTNUM) has the 2nd highest Total_Trans_Amt, Per each Marital_Status. The bank will create a dedicated campaign and target these specific clients moving forward.

In this step, help the bank find these clients.

1. Unknown
	- 719848008
3. Divorced
	- 716894658
4. Single
	- 716004258
5. Married
	- 717642633

In [83]:
WITH max_trans_amt AS (
    SELECT b.marital_status, MAX(e.total_trans_amt) AS max_trans_amt
    FROM enriched_churn_data e
    JOIN basic_client_info b
    ON e.clientnum = b.clientnum
    GROUP BY b.marital_status
)
SELECT b.marital_status, e.clientnum, e.total_trans_amt as second_highest
FROM max_trans_amt m
JOIN enriched_churn_data e
ON e.clientnum = (
    SELECT e.clientnum
    FROM enriched_churn_data AS e
    JOIN basic_client_info AS b
    ON e.clientnum = b.clientnum
    WHERE b.marital_status = m.marital_status AND e.total_trans_amt < m.max_trans_amt
    ORDER BY e.total_trans_amt DESC LIMIT 1
)
JOIN basic_client_info b
ON b.clientnum = e.clientnum
ORDER BY e.total_trans_amt;

  marital_status  clientnum  second_highest
0        Unknown  719848008           16098
1       Divorced  716894658           16824
2         Single  716004258           17634
3        Married  717642633           17995